DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=mesamaestra_db
POSTGRES_USER=mesamaestra_user
POSTGRES_PASSWORD=mesamaestra
POSTGRES_HOST=db
POSTGRES_PORT=5432

OPEN5E_BASE_URL=https://api.open5e.com